.About-section {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.About-section h1 {
    font-size: 80px;
    padding: 20px;
}

.About-section p {
    font-size: 20px;
    line-height: 50px;
    padding: 20px;
}

.Learn-more-btn {
    font-size: 30px;
    padding: 20px 30px;
    margin: 20px;
    background-color: transparent;
    border: 1px solid #ffff00;
}

.Learn-more-btn:hover {
    background-color: #ffff00;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}